@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
body {background-image: linear-gradient(to right
, #9FC131, #DBF227);}
main{ background-color: white;
width: 600px;
padding: 10px;
margin: auto;
border-radius: 10px;
box-shadow: 10px 10px 20px rgba(95, 104, 26, 0.685);
}
h1{color:#a55b15 ;
text-align: center;
text-shadow: 2px 2px 4px rgba(92, 51, 13, 0.603);
}
h2{color: #8eb9d6;}